#classic {
    text-align: justify;
    font-family: sans-serif;
    font-weight: bold;
}

#modern {
    text-align: center;
    font-family: sans-serif;
    font-weight: bold;
    background-color: #ffd600;
}

#impact {

}

#elise {

}

#one, #two  {

}

#gaudi {

}