#classic {
    text-align: justify;
    font-family: sans-serif;
    font-weight: bold;
    padding-top: 10px;
    padding-left: 5px;
}

#modern {
    text-align: center;
    font-family: sans-serif;
    font-weight: bold;
    background-color: #ffd600;
    padding: 11px;
}

#impact {
    background-color: #94ec94;
    font-weight: bold;
    border: 18px double black;
    text-align: center;
    padding: 15px;
    
}

#elise {

}

#one, #two  {

}

#gaudi {

}